.hide.below{
    display: none;
}

.below{
}

.infoText{
    text-align: left;
}

.momentumTitle{
    font-size: 31.2pt;
    /* font-size: 31.2px; */
    text-align: center;
    font-family: 'noto-sans-kr-bold';
    position:relative;
    top:-15px;
}

.indexContainer {
display: flex;
flex-direction: row;
margin: 1.9% 0px 1.9% 0px;
text-align: center;
font-size: 18.2pt;
font-family: 'noto-sans-kr-regular';
}

.indexValueContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 31.2pt; 
    font-family: 'noto-sans-kr-regular';

    }

.index {
    /* background-color: powderblue; */
    /* border: 1px solid gray; */
    flex: 1;
}

.infoText {
font-size: 18.2pt;
font-family: 'noto-sans-kr-light';
line-height: 2;
padding-left: 3%;
}

  @font-face {
    font-family: 'testItalic';
    src: url('https://cdn.jsdelivr.net/npm/@canvas-fonts/times-new-roman-italic@1.0.4/Times New Roman Italic.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'noto-sans-kr-regular';
    src: url('../assets/fonts/NotoSansKR-Regular.otf');
    font-style: normal;
    font-display: swap;
  }  

  @font-face {
    font-family: 'noto-sans-kr-bold';
    src: url('../assets/fonts/NotoSansKR-Bold.otf');
    font-style: normal;
    font-display: swap;
  }  

  @font-face {
    font-family: 'noto-sans-kr-medium';
    src: url('../assets/fonts/NotoSansKR-Medium.otf');
    font-style: normal;
    font-display: swap;
  }  

  @font-face {
    font-family: 'noto-sans-kr-light';
    src: url('../assets/fonts/NotoSansKR-Light.otf');
    font-style: normal;
    font-display: swap;
  }  

  @media (prefers-reduced-motion: no-preference){
    .graphAnimation1{
      animation: momentumGraphAppear1 1.0s ease-out;
    }
  }

  @media (prefers-reduced-motion: no-preference){
    .graphAnimation2{
      animation: momentumGraphAppear2 1.0s ease-out;
    }
  }

  @media (prefers-reduced-motion: no-preference){
    .graphAnimation3{
      animation: momentumGraphAppear3 1.0s ease-out;
    }
  }

  @media (prefers-reduced-motion: no-preference){
    .graphAnimation4{
      animation: momentumGraphAppear4 1.1s ease-out;
    }
  }

  /* 기간 버튼 눌렀을 때 리프레쉬 */
  @keyframes momentumGraphAppear1 {
    0% { opacity: 0%; }
    50% {opacity:0%}
    100% { opacity: 100% }
  }

  @keyframes momentumGraphAppear2 {
    0% { opacity: 0%; }
    50% {opacity:0%}
    100% { opacity: 100% }
  }

  @keyframes momentumGraphAppear3 {
    0% { opacity: 0%; }
    50% {opacity:0%}
    100% { opacity: 100% }
  }

  @keyframes momentumGraphAppear4 {
    0% { opacity: 0%; }
    50% {opacity:0%}
    100% { opacity: 100% }
  }
  
  @keyframes momentumIndexAppear {
    0% { opacity: 0%; }
    66% {opacity:0%}
    100% { opacity: 100% }
  }

  @keyframes momentumIndex2Appear {
    0% { opacity: 0%; }
    66% {opacity:0%}
    100% { opacity: 100% }
  }

/* 전체 페이지 리프레쉬 시 작동 애니메이션 */
  @keyframes graphTitle {
    0% { opacity: 0%; }
    50% {opacity:0%}
    100% { opacity: 100% }
  }

  @media (prefers-reduced-motion: no-preference){
    .momentumTitle{
      animation: graphTitle 1.0s ease-out;
    }
  }

  @keyframes graphUpperButtons {
    0% { opacity: 0%; }
    75% {opacity:0%}
    100% { opacity: 100% }
  }

  @media (prefers-reduced-motion: no-preference){
    .upperButtons{
      animation: graphUpperButtons 1.5s ease-out;
    }
  }

  @keyframes graphLowerButtons {
    0% { opacity: 0%; }
    75% {opacity:0%}
    100% { opacity: 100% }
  }

  @media (prefers-reduced-motion: no-preference){
    .lowerButtons{
      animation: graphLowerButtons 2.0s ease-out;
    }
  }

  /* 디바이스 사이즈별 조정 */
  /* @media all and (min-width:480px) and (max-width:767px) { */
    @media all and (max-width:767px), (max-height:450px) and (max-width:1023px){

    .momentumTitle{
      font-size: 32px;
      text-align: center;
      font-family: 'noto-sans-kr-bold';
      position:relative;
      top:-15px;
      
  
  }
  
  .indexContainer {
  display: flex;
  flex-direction: row;
  margin: 1.9% 0px 1.9% 0px;
  text-align: center;
  font-size: 18.6px;
  font-family: 'noto-sans-kr-regular';
  }
  
  .indexValueContainer {
      display: flex;
      flex-direction: row;
      text-align: center;
      font-size: 24px; 
      font-family: 'noto-sans-kr-regular';
  
      }
  
  .index {
      /* background-color: powderblue; */
      /* border: 1px solid gray; */
      flex: 1;
  }
  
  .infoText {
  font-size: 19px;
  font-family: 'noto-sans-kr-light';
  line-height: 2;
  padding-left: 3%;
  }

}
  
    