.momentumTitle{
    font-size: 31px;
    padding-top:50px
}

.longButton1{
    padding-right:50px;
}

.firstRow{
    font-size: 20px;
}

.secondRow{
    font-size: 30px;
}

.hide.info{
    display: none;
}

.info{
}

.infoText{
    text-align: left;
}

.text1{
    font-size: 31.2pt;
    /* font-size: 31.2px; */
    text-align: center;
    font-family: 'noto-sans-kr-bold';
    position:relative;
    top:-15px;
    

}

.indexContainer {
display: flex;
flex-direction: row;
margin: 1.9% 0px 1.9% 0px;
text-align: center;
font-size: 18.2pt;
font-family: 'noto-sans-kr-regular';
}

.indexValueContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 31.2pt; 
    font-family: 'noto-sans-kr-regular';

    }

.index {
    /* background-color: powderblue; */
    /* border: 1px solid gray; */
    flex: 1;
}

.infoText {
font-size: 18.2pt;
font-family: 'noto-sans-kr-light';
line-height: 2;
padding-left: 3%;
}

  @font-face {
    font-family: 'testItalic';
    src: url('https://cdn.jsdelivr.net/npm/@canvas-fonts/times-new-roman-italic@1.0.4/Times New Roman Italic.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'noto-sans-kr-regular';
    src: url('../assets/fonts/NotoSansKR-Regular.otf');
    font-style: normal;
    font-display: swap;
  }  

  @font-face {
    font-family: 'noto-sans-kr-bold';
    src: url('../assets/fonts/NotoSansKR-Bold.otf');
    font-style: normal;
    font-display: swap;
  }  

  @font-face {
    font-family: 'noto-sans-kr-medium';
    src: url('../assets/fonts/NotoSansKR-Medium.otf');
    font-style: normal;
    font-display: swap;
  }  

  @font-face {
    font-family: 'noto-sans-kr-light';
    src: url('../assets/fonts/NotoSansKR-Light.otf');
    font-style: normal;
    font-display: swap;
  }  