@font-face {
  font-family: 'noto-sans-kr';
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-100.eot');
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-100.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-100.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-100.woff') format('woff');
      /* url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-100.ttf') format("truetype"); */
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto-sans-kr';
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-300.eot');
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-300.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-300.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'noto-sans-kr';
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-regular.eot');
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-regular.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'noto-sans-kr';
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-500.eot');
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-500.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-500.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto-sans-kr';
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-700.eot');
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-700.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-700.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'noto-sans-kr';
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-900.eot');
  src: url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-900.eot?#iefix') format('embedded-opentype'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-900.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/npm/typeface-notosans-kor@1.0.2/fonts/noto-sans-kr-v8-korean_latin-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  margin: 0;
  font-family: 'noto-sans-kr';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'noto-sans-kr';
}

.outer{
  font-family: 'noto-sans-kr';
}